div#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.news {
  background-color: #e2e2e282;
  border-right: 1px solid #0e0e0e05;
  border-left: 1px solid #0e0e0e05;
  -webkit-box-shadow: 0px 0px 113px 49px #e1e1e1;
  box-shadow: 0px 0px 165px 104px #e2e2e282;
  width: 50%;
}

.infinite-scroll-component {
  padding: 10px 30px;
}

.title {
  background-color:#ff1a0a;
  width: 100%;
  margin-top: 0;
}

h1.title {
  font-size: 40px;
  padding: 6px 0;
  text-align: center;
  color: #ffffff;
}

.newsBody {
  padding: 15px 3px;
  border-bottom: 1px solid #5855552e;
}

.newsBody a {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.newsBy {
  display: flex;
  color: #b5b3b4;
  font-size: 10px;
}

.time {
  margin-left: 10px;
}

.time p {
  border-left: 1px solid;
  padding: 0 10px;
}

span {
  font-weight: 900;
  color: #482323a8;
}